* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.banner {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgb(185, 185, 185);
    z-index: 3;
}

.Myweb {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin-left: 10%;
}

.Myweb:hover {
    transition: 1s;
    background-color: rgb(206, 228, 254);
}

.list-container {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 10%;
}

.list {
    display: flex;
}

.list li {
    list-style-type: none;
    padding: 0 30px;
    font-size: 24px;
    line-height: 100px;
    transition: 0.3s;

}

.list li:hover {
    transition: 1s;
    background-color: rgb(206, 228, 254);
}



.container01 {
    width: 100%;
    height: 500px;
    background-color: rgb(164, 159, 159);
    display: flex;
    background-image: url(../images/banner.png);
    opacity: 0.7;
    z-index: 4;
    box-shadow: 2px 5px 5px #969696;
}

.word01 {
    font-size: 70px;
    position: absolute;
    top: 25%;
    left: 10%;
}

.word02 {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 75%;
}

.circle01 {
    z-index: 2;
    width: 250px;
    height: 250px;
    border: 3px solid rgb(255, 88, 88);
    border-radius: 50%;
    position: absolute;
    left: 70%;
    top: 10%;
    transform-style: preserve-3d;
    animation: circle01 7s infinite ease-in-out;
    opacity: 0.5;

}

@keyframes circle01 {
    0% {
        position: absolute;
        left: 70%;
        top: 20%;
    }

    50% {
        position: absolute;
        left: 80%;
        top: 10%;
    }

    100% {
        position: absolute;
        left: 70%;
        top: 20%;
    }
}

.circle02 {
    z-index: 2;
    width: 250px;
    height: 250px;
    border: 3px solid rgb(181, 255, 197);
    border-radius: 50%;
    position: absolute;
    left: 70%;
    top: 10%;
    transform-style: preserve-3d;
    animation: circle02 15s infinite ease-in-out;
    opacity: 0.5;

}

@keyframes circle02 {
    0% {
        position: absolute;
        left: 80%;
        top: 60%;
    }

    33% {
        position: absolute;
        left: 55%;
        top: 60%;
    }

    66% {
        position: absolute;
        left: 75%;
        top: 50%;
    }

    100% {
        position: absolute;
        left: 80%;
        top: 60%;
    }
}

.triangle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.triangle01 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 150px 260px 150px;
    border-color: transparent transparent #82ecf8 transparent;
    position: relative;
    opacity: 0.3;
    transform-style: preserve-3d;
    animation: spin 30s infinite linear;
}

.triangle02 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 120px 208px 120px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: -120px;
    top: 36px;
    opacity: 0.8;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}



.container02 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    background-image: linear-gradient(to bottom right, #fffbf1, #ffe7a9);
}

.photo-box {
    width: 40%;
    margin-left: 6%;
    opacity: 0.9;
}

.photo {
    width: 100%;
    height: 100%;
    transition: 1s;
    box-shadow: 2px 5px 5px #969696;
    border-radius: 5px;
    opacity: 0.95;
}

.photo:hover {
    transition: 1s;
    transform: scale(1.1);
}

.about-box {
    width: 40%;
    margin-right: 6%;
}

.about1,
.about2,
.about3,
.about4 {
    list-style-type: none;
    padding: 10px;
}

.about1 li,
.about2 li,
.about3 li {
    padding: 10px 0 0 20px;
}

.about1 hr,
.about2 hr,
.about3 hr {
    border-style: dashed;
    border-color: rgb(182, 183, 184);
}

.about4 div {
    margin: 10px 0 10px 0;
    display: flex;
}

.bar1,
.bar2,
.bar3,
.bar4,
.bar5 {
    height: 20px;
    width: 70%;
    display: flex;
    position: relative;
    margin: 0 0 20px 0;

}

.bar-out1 li,
.bar-out2 li,
.bar-out3 li,
.bar-out4 li,
.bar-out5 li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.bar-out1,
.bar-out2,
.bar-out3,
.bar-out4,
.bar-out5 {
    height: 100%;
    width: 100%;
    background-color: #cbcbcb;
    box-shadow: 1px 1px 3px #544f4f inset;
    border-radius: 10px;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5%;
    position: absolute;
}

.bar-in1 {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(98, 146, 79), rgb(167, 252, 134));
    border-radius: 10px;
    position: absolute;
    opacity: 0.5;
    transform-style: preserve-3d;
    animation: bar1 2s ease-in-out;
}

.bar-in2 {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(178, 186, 100), rgb(224, 235, 126));
    border-radius: 10px;
    position: absolute;
    opacity: 0.5;
    transform-style: preserve-3d;
    animation: bar2 2s ease-in-out;
}

.bar-in3 {
    height: 100%;
    width: 90%;
    background-image: linear-gradient(to right, rgb(164, 107, 88), rgb(228, 151, 125));
    border-radius: 10px;
    position: absolute;
    opacity: 0.5;
    transform-style: preserve-3d;
    animation: bar3 2s ease-in-out;
}

.bar-in4 {
    height: 100%;
    width: 80%;
    background-image: linear-gradient(to right, rgb(78, 147, 145), rgb(115, 215, 211));
    border-radius: 10px;
    position: absolute;
    opacity: 0.5;
    transform-style: preserve-3d;
    animation: bar4 2s ease-in-out;
}

.bar-in5 {
    height: 100%;
    width: 80%;
    background-image: linear-gradient(to right, rgb(142, 82, 125), rgb(205, 119, 181));
    border-radius: 10px;
    position: absolute;
    opacity: 0.5;
    transform-style: preserve-3d;
    animation: bar5 2s ease-in-out;
}

@keyframes bar1 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes bar2 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes bar3 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@keyframes bar4 {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@keyframes bar5 {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

.footer1 {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    width: 100%;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.news {
    list-style-type: none;
    width: 100%;
    width: 800px;
    display: flex;
    align-items: center;

}

.news ul {
    width: 100%;
}

.news li {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 0 0 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.news ul hr {
    width: 100%;
}

.footer2 {
    width: 100%;
    height: 200px;
    background-color: #525252;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0 25px 15px 0;
}